/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  background-color: #546b8d;
  text-align: center;
  padding: 2rem;
}

/* Main heading */
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000a13;
}

/* Responsive  styles*/
@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

}